.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.column {
  float: left;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.width_resp_div {
  width: min(45vw, 513px);
}

.d-flex-soverflow {
  display : flex;
  align-items : center;
}

.d-flex-soverflow1 {
  vertical-align: middle; 
}

button.toggle {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

img {
  width: min( max(95%, 100px), 275px);
}

hr {
  border-top: 10px double #000000;
  display:block;
  width: 90%;        
  background-color:#000000;
  height: 10px;
}

.vertcenterdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* html,body,.container-fluid,.container,.row,.row div {height:100%;;} 
.vertical-align-11 {
  position: relative;
  top: 50%;
  transform: translateY(10%);
}

.vertical_center_11 {
  display: flex;
  align-items: center;
} */