@import url('bulma/css/bulma.css');
@import url('material-design-icons/iconfont/material-icons.css');
@import 'react-pdf/dist/esm/Page/AnnotationLayer.css';
@import "react-pdf/dist/esm/Page/TextLayer.css";

.App {
  background: radial-gradient(circle at 10% 20%, rgb(34, 102, 138) 0%, rgb(154, 118, 255) 80.6%);
  color: antiquewhite;
}

.RootTab {
  background: radial-gradient(circle at 10% 20%, rgb(34, 102, 138) 0%, rgb(154, 118, 255) 80.6%);
  color: antiquewhite;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.column {
  float: left;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.width_resp_div {
  width: min(45vw, 513px);
}

.doc_centeralign {
  display: flex;
  justify-content: center;
  overflow-x: auto;
}

.scrollable_cv_div {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.d-flex-soverflow {
  display : flex;
  align-items : center;
}

.d-flex-soverflow1 {
  vertical-align: middle; 
}

button.toggle {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

img {
  width: min( max(95%, 100px), 275px);
}

.vertcenterdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* html,body,.container-fluid,.container,.row,.row div {height:100%;;} 
.vertical-align-11 {
  position: relative;
  top: 50%;
  transform: translateY(10%);
}

.vertical_center_11 {
  display: flex;
  align-items: center;
} */